section {
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 22px;
}

button {
    flex: wrap;
    height: 50px;
    width: 5%;
    background-color: #037ffc;
    margin-bottom: 5px;
    margin-top: 5px;
}

#countdown {
    float: right;
}
